<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center"> 
      <div class="text-center">
        <h1>ContactManager</h1>
        <p>"Connecting the Dots: Your Contact Manager, Your Way."</p>
        <button class="b10  btn-lg  text-white">Get Start</button>
      </div>
    </section>
</body>
</html>